{% extends 'layouts/g.html' %}
{% load price_filters %}
{% block content %}


<div class="p-4 opacity-0" _="on load transition my opacity to 1 over 0.3 seconds">

    <div class="md:px-6 py-4 text-center">
        <h1 class="md:text-3xl text-2xl font-bold underline">{{ order }}</h1>
    </div>
        <div class="flex flex-col gap-10 border p-10">
            <h2>Informacion</h2>
            <span>Correo: {{ order.email }}</span>
            {% if order.date_shipped %}
                <span>Orden Enviada: {{ order.date_shipped }}</span>
            {% else %}
                <span>Orden Creada: {{ order.date_ordered }}</span>       
            {% endif %}
            <span>Nombre: {{ order.full_name }}</span>
            <span>Direccion: {{ order.shipping_address }}</span>
            {% for item in items %}           
            <div class="flex gap-3">
                    <p>{{ item.product }}</p>
                    <span>-</span>
                    <p>{{ item.quantity }}</p>
                    <span>-</span>
                    <p> $ {{ item.price|formato_precio }}</p>
                </div>
            {% endfor %}
            {% if not order.shipped %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="shipping_status" value="true">
                    <button class="p-4 bg-blue-600">Marcar como enviado</button>
                </form>
            {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="shipping_status" value="false">
                    <button class="p-4 bg-red-600 ">Marcar como no enviado</button>
                </form>
            {% endif %}
        </div>


</div>

{% endblock %}