{% extends 'layouts/g.html' %}

{% block content %}

{% load price_filters %}
{% load static %}
<div class="p-4 opacity-0" _="on load transition my opacity to 1 over 0.3 seconds">

        <div class="md:px-6 py-4 text-center md:text-start">
            <h1 class="md:text-3xl text-2xl font-bold underline">Verificar Compra</h1>
        </div>

        <div class="flex flex-col lg:flex-row gap-10">
            <div class="">
                <ul class="flex flex-col">
                    <h2 class="border-b p-4 mb-6 text-center">Orden</h2>
                    {% for product in cart_products %}
                    <li class="flex flex-col sm:flex-row text-center items-center space-x-4 p-5 border-b">
                        <img src="{{ product.image.url }}" alt="{{ item.product.title }}" class="w-40 object-cover rounded">
                        <div class="flex-1">
                            <h3 class="font-semibold">{{ product.title }}</h3>
                            <p class="text-md text-gray-800">$ {{ product.price|formato_precio }}</p>
                        </div>
                        <medium>Cantitad: 
                            {% for key, value in quantities.items %}
                                {% if key == product.id|slugify %}
                                    {{ value }}
                                {% endif %}
                            {% endfor %}
                        </medium>
                    </li>
                    {% endfor %}
                </ul>
                <div class="mt-20 flex flex-col items-center">
                    <p class="text-lg font-semibold">Subtotal: $ {{ totals|formato_precio }}</p>
                    <a href="{% url 'cart-summary' %}" class="hover:bg-gray-800 text-white bg-gray-600 md:w-40 p-3 rounded transition font-bold">Actualizar Carrito</a>
                </div>
            </div>
    
            <div class="md:text-start">
                <h2 class="border-b p-4 md:mb-6 text-center mb-6">Direccion</h2>
                    <form method="POST" action="{% url 'billing-info' %}" class="flex flex-col justify-center lg:border-l max-w-2xl gap-4">
                        <div class="flex flex-wrap gap-5 justify-center px-4 md:px-20 pt-4">
                            {% csrf_token %}
                            <span class="w-full xl:w-60">Nombre: {{ form.shipping_full_name }}</span>
                            <span class="w-full xl:w-60">Correo: {{ form.shipping_email }}</span>
                            <span class="w-full xl:w-full">Direccion: {{ form.shipping_address }}</span>
                            <span class="w-full xl:w-60">Calle y número: {{ form.shipping_street }}</span>
                            <span class="w-full xl:w-60">Codigo Postal: {{ form.shipping_zipcode }}</span>
                            <span class="w-full xl:w-60">Ciudad: {{ form.shipping_city }}</span>
                            <span class="w-full xl:w-60">País: {{ form.shipping_country }}</span>
                        </div>
                        <div class="border-t md:border-0 border-gray-200 flex flex-col items-center pt-8 space-y-8 text-center">
                            <button class="p-4 text-white hover:bg-green-800 bg-green-600 rounded md:w-60 transition">Continuar</button>
                        </div>
                    </form>
            </div>
    
        </div>


</div>

{% endblock %}
