{% load static %}
<header x-data="{ mobilenavOpen: false, mobilesearchOpen: false }" class="header flex items-center justify-between px-8 bg-gray-300 h-16 text-white sticky top-0 z-40">
    <div class="flex items-center justify-between h-16">
        <!-- Logo -->
        <a class="flex items-center gap-2" href="/">
            <img class="w-16 mr-1 -mt-1" src="{% static 'images/Loste.jpg' %}" alt="Logo Loste"/>
            <span class="textlogo text-black text-xl font-bold">Loste</span>
        </a>
        
        <!-- Mobile Icons -->
        <div class="md:hidden flex items-center gap-2">
            <a @click="mobilesearchOpen = !mobilesearchOpen" class="h-12 w-12 flex items-center justify-center cursor-pointer hover:bg-gray-200 rounded-lg">
                <img :src="!mobilesearchOpen ? '{% static 'images/search-black.svg' %}' : 'https://img.icons8.com/small/64/000000/delete-sign.png'" class="w-6 h-6 select-none" alt="Search"/>
            </a>
            <a href="{% url 'cart_summary' %}" class="flex items-center">
                <img class="w-6 cursor-pointer" src="{% static 'images/cart.png' %}" alt="Carrito"/>
                <span class="text-black ml-1" id="cart_quantity">{{ cart|length }}</span>
            </a>
            <a @click="mobilenavOpen = !mobilenavOpen" class="h-12 w-12 flex items-center justify-center cursor-pointer hover:bg-gray-200 rounded-lg">
                <img :src="!mobilenavOpen ? 'https://img.icons8.com/small/64/000000/menu.png' : 'https://img.icons8.com/small/64/000000/delete-sign.png'" class="w-6 h-6 select-none" alt="Menu"/>
            </a>
        </div>
    </div>

    <!-- Navigation Links -->
    <nav :class="mobilenavOpen ? 'block' : 'hidden'">
        <ul class="flex flex-col md:flex-row items-center gap-4 bg-gray-300 md:bg-transparent text-black p-4 md:p-0">
            {% for category in categories %}
            <li>
                <a href="{% url 'category' category.slug %}" class="hover:bg-gray-200 px-4 py-2 rounded-md">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <!-- User Account Links -->
    <div class="hidden md:flex items-center gap-2">
        {% if request.user.is_authenticated %}
            <a href="{% url 'profile' %}" class="text-black font-semibold hover:underline">{{ user.profile.name }}</a>
            <a href="{% url 'account_logout' %}" class="hover:underline">Cerrar Sesión</a>
        {% else %}
            <a href="{% url 'account_login' %}" class="hover:underline">Inicia sesión</a>
            <a href="{% url 'account_signup' %}" class="hover:underline">Regístrate</a>
        {% endif %}
    </div>
</header>
