<div class="flex justify-center">
    <img class="w-80" src="{{ product.image.url }}" alt="{{ product.title }}">
</div>

<div class="detail2 bg-white">
    <div class="px-6 pt-8">
        <div class="font-bold text-gray-700 text-3xl mb-7">{{ product.title }}</div>
        <span class="inline-block py-1 text-xl font-semibold text-gray-700 mr-2 mb-2">
            $ {{ product.price }}
        </span>
        <p>{{ product.description }}</p>
        {% for category in product.category.all %}
        <a class="font-bold">{{ category }}</a>
        <p class="font-bold">Stock: {{ product.stock }}</p>
        {% endfor %}
    </div>
    
    <div class="flex gap-2 justify-center mt-6 pb-32 mx-6">
        {% if user.is_superuser %}
        <a class="bg-green-600 p-3 rounded hover:bg-green-800 font-bold text-white" href="{% url 'product-edit' product.id %}">Editar</a>
        <a class="bg-red-600 p-3 rounded hover:bg-red-800 font-bold text-white" href="{% url 'product-delete' product.id %}">Eliminar</a>
        {% endif %}
    </div>
</div>

<div class="flex justify-center mt-4">
    <button id="add-cart" value="{{ product.id }}" class="bg-blue-600 p-3 rounded hover:bg-blue-800 font-bold text-white">
        Agregar al Carrito
    </button>    
</div>

<script>
    $(document).on('click', '#add-cart', function (e) {
        e.preventDefault();
    
        const productId = $(this).val(); // Obtiene el ID del producto
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',  // URL correcta
            data: {
                product_id: productId,
                product_qty: 1,  // Por defecto, 1 unidad
                csrfmiddlewaretoken: '{{ csrf_token }}',  // Token CSRF
                action: 'post'
            },
            success: function (response) {
                alert('Producto agregado al carrito.');
            },
            error: function (xhr, errmsg, err) {
                console.error('Error al agregar al carrito:', errmsg);
            }
        });
        
    });
    
    </script>
    