<div class="flex flex-col border-4 bg-white w-72 items-center justify-between my-4 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl">
  <img class="w-full h-72 object-cover rounded-t-lg border-b-4 border-gray-700" src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="{{ product.title }}">

  <div class="px-6 py-4 text-center bg-white w-full rounded-b-lg">
      <div class="font-bold text-xl text-gray-800 mb-2">{{ product.title }}</div>
      
      <p class="text-lg text-gray-900 mb-4">${{ product.price }}</p>
      
      <a href="{% url 'product-detail' product.id %}" class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-6 rounded-lg shadow-md transition-all duration-300">
          Ver Producto
      </a>
  </div>
</div>
