<div class="flex justify-center">
    <img class="w-80" src="{{ product.image.url }}" alt="{{ product.title }}">
</div>

<div class="detail2 bg-white">
    <div class="px-6 pt-8">
        <div class="font-bold text-gray-700 text-3xl mb-7">{{ product.title }}</div>
        <span class="inline-block py-1 text-xl font-semibold text-gray-700 mr-2 mb-2">
            $ {{ product.price }}
        </span>
        <p>{{ product.description }}</p>
        {% for category in product.category.all %}
        <a class="font-bold">{{ category }}</a>
        <p class="font-bold">Stock: {{ product.stock }}</p>
        {% endfor %}
    </div>
    
    <div class="flex gap-2 justify-center mt-6 pb-32 mx-6">
        {% if user.is_superuser %}
        <a class="bg-green-600 p-3 rounded hover:bg-green-800 font-bold text-white" href="{% url 'product-edit' product.id %}">Editar</a>
        <a class="bg-red-600 p-3 rounded hover:bg-red-800 font-bold text-white" href="{% url 'product-delete' product.id %}">Eliminar</a>
        {% endif %}
    </div>
</div>