<div class="flex flex-col border-5 bg-black w-40 items-center justify-between my-4 rounded-lg shadow-lg">
  <!-- Imagen del producto -->
  <img class="w-full h-40 object-cover rounded-t-lg" src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="{{ product.title }}">

  <!-- Detalles del producto -->
  <div class="px-6 py-4 text-center">
      <div class="font-bold text-white text-xl mb-2">{{ product.title }}</div>
      <p class="text-white text-lg">{{ product.price }} $</p>
      <a href="{% url 'product-detail' product.id %}" class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg mt-4 block">
          Ver Producto
      </a>
  </div>
</div>