{% extends 'layouts/box.html' %}  {# Extiende la plantilla base 'box.html' #}

{% block title %}{{ product.title }} | {% endblock %}  {# Usa el título del producto como el título de la página #}

{% block content %}  {# Inicia el bloque de contenido principal #}

<h1>Editar Producto</h1>  {# Encabezado de la página "Editar Producto" #}
<div class="card p-4">  {# Contenedor con clase 'card' y padding #}

    <div class="flex justify-center">
        <img id="image" class="w-80 object-cover rounded-xl mr-4" src="{{ product.image.url }}">
    </div>
    <h3 class="flex justify-center text-lg font-bold">{{ product.title }}</h3>  

    <div class="pb-2">  {# Contenedor con padding inferior para el formulario #}
        <form method='POST' enctype="multipart/form-data">  {# Inicia el formulario con método POST #}
            {% csrf_token %}  {# Token CSRF para proteger el formulario #}
            {{ form }}  {# Renderiza el formulario usando los campos pasados desde la vista Django #}
            <div class="pt-4">  {# Contenedor con padding superior para los botones #}
                <button class="p-4 bg-gray-800 hover:bg-gray-500">Guardar Cambios</button>  {# Botón de envío con estilos para tamaño, fondo oscuro y cambio de color al pasar el mouse #}
                <a class="p-4 bg-gray-800 hover:bg-gray-500 rounded ml-1 text-white font-bold" href="{% url 'home' %}">Volver</a>  {# Enlace para volver a la página principal, con los mismos estilos que el botón y margen izquierdo #}
            </div>
        </form>  {# Cierra el formulario #}
    </div>
</div>  {# Cierra el contenedor 'card' #}

{% endblock %}  {# Fin del bloque de contenido #}
