{% extends 'layouts/blank.html' %}  {# Extiende la plantilla 'blank.html' #}

{% block content %}  {# Bloque de contenido principal #}

<div class="max-w-lg mx-auto flex flex-col items-center pt-20 px-4">  {# Contenedor centrado con tamaño máximo y padding #}
    <img class="w-36 h-36 rounded-full object-cover mb-4" src="{{ profile.avatar }}" />  {# Muestra el avatar del perfil #}
    <div class="text-center">
        <h1>{{ profile.name }}</h1>  {# Muestra el nombre del perfil #}
        <div class="text-gray-400 mb-2 -mt-3">@{{ profile.user.username }}</div>  {# Muestra el nombre de usuario #}
        {% if profile.info %}
        <div class="mt-8 hyphens-auto">{{ profile.info|linebreaksbr }}</div>  {# Muestra información adicional del perfil si existe #}
        {% endif %}  
    </div>
</div>

{% endblock %}
