{% extends 'layouts/box.html' %}  {# Extiende la plantilla 'box.html' #}

{% block title %}Editar Perfil | {% endblock %}  {# Título de la página #}

{% block content %}  {# Bloque de contenido principal #}

<h1 class="mb-2">Completa tu perfil</h1>  {# Encabezado de la página #}
<div class="text-center flex flex-col items-center">
    <img id="avatar" class="w-36 h-36 rounded-full object-cover mb-4" src="{{ user.profile.avatar }}" />  {# Muestra el avatar del usuario #}
    <div class="text-center max-w-md">
        <h1 id="realname">{{ user.profile.name }}</h1>  {# Muestra el nombre real del usuario #}
        <div class="text-gray-400 mb-2 -mt-3">@{{ user.username }}</div>  {# Muestra el nombre de usuario #}
    </div>
</div>
<form method="POST" enctype="multipart/form-data">  {# Inicia el formulario con soporte para archivos #}
    {% csrf_token %}  {# Token CSRF para proteger el formulario #}
    {{ form.as_p }}  {# Muestra el formulario #}
    <button type="submit">Enviar</button>  {# Botón para enviar el formulario #}
    <a class="button secondaryAction ml-1" href="{% url 'home' %}">Omitir</a>  {# Enlace para omitir y volver a la página principal #}
</form>

<script>
    // Actualiza el avatar al seleccionar una nueva imagen
    const fileInput = document.querySelector('input[type="file"]');
    fileInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        const image = document.querySelector('#avatar');
        if (file && file.type.includes('image')) {
            const url = URL.createObjectURL(file);
            image.src = url;
        }
    });

    // Actualiza el nombre al escribir en el input
    const realnameInput = document.getElementById('id_realname');
    const realnameOutput = document.getElementById('realname');
    realnameInput.addEventListener('input', (event) => {
        realnameOutput.innerText = event.target.value;
    });
</script>

{% endblock %}
